@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,700italic);
body, html {
	background-color: black;


}

header img {
	width: 100%;
	height: 480px;
	/*background-image: url(http://orig09.deviantart.net/2d5b/f/2015/078/6/e/wolf_hd_by_arma3lonewolf-d8m9rto.jpg);*/
} 

h2 {
	padding: 5px;
/*background-color: black;*/
color: #FFF;
font-family: "Crimson Text", sans-serif;
text-align: center;


}
h3 img {
padding: 5px;
background-color: black;
color: #FFF;
font-family: "Crimson Text", sans-serif;
text-align: left;
}

nav {
	list-style: none;
	text-align: center;
}

nav ul li{
font size: 12px;
font-family: "Crimson Text";
color: #FFF;
padding-left: 60px;
display: inline;
float: left;
}

nav ul {
    display: inline-block;
    list-style-type: none;

}

nav ul  li:hover {
	text-decoration: underline;
	color: ##0eec32;
}

p {
	font-family: 'Crimson Text', sans-serif;
	padding: 5px;
	color: #FFF;
}